@model List<Gimnasio.Models.Producto>

@{
    ViewData["Title"] = "Listado de productos";
}

@if (TempData["productoCreado"] != null)
{
    <div class="row justify-content-center my-2">
        <div class="alert alert-success alert-dismissible fade show col-md-7 text-center">
            <button type="button" class="btn-close fs-7" data-bs-dismiss="alert"></button>
            <strong class="fs-5">@TempData["productoCreado"]</strong>
        </div>
    </div>
}
<h1 class="my-3 text-center">Listado de productos</h1>

<div class="my-3 p-3">
    <p>Bienvenido a nuestra tienda de productos fitness, donde encontrarás una cuidadosa selección de artículos y equipos de calidad para ayudarte a alcanzar tus metas de entrenamiento y mantener un estilo de vida activo. Desde accesorios básicos hasta tecnología avanzada, tenemos todo lo que necesitas para optimizar tu rendimiento y mejorar tu bienestar.</p>
    <p>Explora nuestra colección y descubre una variedad de productos diseñados para complementar tu rutina de ejercicio y mejorar tu experiencia en el gimnasio. Ya sea que busques herramientas de entrenamiento funcional, ropa deportiva de alta calidad o suplementos nutricionales, estamos aquí para proporcionarte todo lo necesario para tu viaje fitness.</p>
    <p>No dudes en contactarnos si necesitas orientación o tienes alguna pregunta sobre nuestros productos. Estamos comprometidos en brindarte las mejores opciones para que logres tus objetivos de forma efectiva y satisfactoria.</p>
    <p>¡Aprovecha al máximo tu entrenamiento con nuestros productos excepcionales!</p>
</div>

<div class="card-group mb-3">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-6 col-lg-3 my-3">
                <div class="card h-100 d-flex flex-column border-dark border-2 rounded-2 shadow">
                    <div class="row align-items-center" style="height: 60%;">
                        <img class="cad-img-top img-fluid col p-5 imagen-listado-productos" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Foto)" alt="@item.Nombre" />
                    </div>
                    <div class="card-body ">
                        <h4 class="card-title">@Html.DisplayFor(m => item.Nombre)</h4>
                        <h5>@Html.DisplayFor(m => item.Precio)</h5>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-primary text-center mx-3 mb-3 text-white btnAgregarProd" data-producto-id="@item.Id">
                        <i class="bi bi-cart-dash fs-4 mx-md-1"></i>Añadir al carrito
                    </a>
                    }
                    else
                    {
                        <a class="btn btn-primary text-center mx-3 mb-3 text-white" asp-controller="Login" asp-action="Index">
                            <i class="bi bi-cart-dash fs-4 mx-md-1"></i>Añadir al carrito
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Añadir producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Cuántas unidades quieres añadir al carrito?</p>
                <input type="number" min="0" value="1" id="cantidadProducto" />
                <span class="text-danger fs-6" id="errorCantidad"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary text-white btn-agregar-producto-carrito" data-bs-dismiss="modal">Añadir al carrito</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/ProductoJS.js"></script>