@using Microsoft
@model Gimnasio.Transporte.ContratoDTO
@{
    ViewData["Title"] = "Contrato";
}
@functions {
    void RenderAlert(string message, string alertType)
    {
        if (!string.IsNullOrEmpty(message))
        {
            <div class="row justify-content-center">
                <div class="alert alert-@alertType alert-dismissible fade show col-md-7 text-center">
                    <button type="button" class="btn-close fs-7" data-bs-dismiss="alert"></button>
                    <strong class="fs-5">@message</strong>
                </div>
            </div>
        }
    }
}

@{
    RenderAlert(TempData["ContratoVigente"] as string, "warning");
    RenderAlert(TempData["CommentSuccess"] as string, "success");
    RenderAlert(TempData["CommentError"] as string, "danger");
    RenderAlert(TempData["nuevoContrato"] as string, "success");
}

<h1 class="text-center my-3">Contrato</h1>

<div class="my-3 p-3">
    <p>A continuación, encontrarás los detalles de tu membresía y el contrato asociado. Te recomendamos revisar cuidadosamente esta información para asegurarte de aprovechar al máximo tu experiencia en nuestro gimnasio.</p>

    <p>Si tienes alguna pregunta o necesitas más información, no dudes en comunicarte con nuestro equipo de atención al cliente. Estamos aquí para ayudarte en cada paso del camino hacia tus objetivos de salud y bienestar.</p>

    <p>¡Disfruta de tu entrenamiento y esperamos verte pronto en nuestras instalaciones!</p>
</div>
<div class="row mb-4">
    <div class="col d-flex justify-content-center">
        <div class="row col-md-12 col-9 justify-content-md-center my-4 border border-2 border-dark p-4 bg-white shadow">
            <div class="col-lg-5">
                <h4 class="text-center">Datos de facturación</h4>
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model._usuario.Nombre)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model._usuario.Nombre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model._usuario.Apellidos)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model._usuario.Apellidos)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model._usuario.DNI)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model._usuario.DNI)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model._usuario.FechaNacimiento)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model._usuario.FechaNacimiento)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model._usuario.Direccion)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model._usuario.Direccion)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model._usuario.Poblacion)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model._usuario.Poblacion)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model._usuario.Telefono)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model._usuario.Telefono)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model._usuario.Email)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model._usuario.Email)
                    </dd>
                </dl>
            </div>
            <div class="col-lg-5">
                <h4 class="text-center">Datos del contrato</h4>
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FechaInicio)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.FechaInicio)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FechaFin)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.FechaFin)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FormaPago)
                    </dt>
                    <dd class="col-sm-6">
                        @{
                            string formaPago = Model.FormaPago.ToString();
                            string resultado = formaPago != null ? char.ToUpper(formaPago[0]) + formaPago.Substring(1).ToLower() : "";
                        }
                        @Html.DisplayFor(model => resultado)
                    </dd>
                    <form asp-action="GuardarCambios">
                        <div class="form-group">
                            <label asp-for="Comentarios" class="control-label font-weight-bold"></label>
                            <textarea asp-for="Comentarios" class="form-control"></textarea>
                            <span asp-validation-for="Comentarios" class="text-danger"></span>
                        </div>
                        <input class="btn btn-success" type="submit" value="Guardar cambios" />
                    </form>
                </dl>
            </div>
        </div>
    </div>
</div>