@using System.Security.Policy
@model IEnumerable<Gimnasio.Models.Tarifa>

@{
    ViewData["Title"] = "Tarifas";
}

@if (TempData["ContratoNoVigente"] != null)
{
    <div class="row justify-content-center">
        <div class="alert alert-warning alert-dismissible fade show col-md-7 text-center">
            <button type="button" class="btn-close fs-7" data-bs-dismiss="alert"></button>
            <strong class="fs-5">@TempData["ContratoNoVigente"]</strong>
        </div>
    </div>
}

<h1 class="text-center my-3">Tarifas</h1>

<div class="container text-center">
    @foreach (var item in Model)
    {
        <div class="row justify-content-center my-4">
            <div class="col-xl-8">
                <div class="card border-dark border-3">
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(m => item.Nombre)</h4>
                        <h3 class="card-subtitle my-2">@Html.DisplayFor(m => item.Precio)</h3>
                        <p class="card-text">@Html.DisplayFor(m => item.Descripcion)</p>
                        <div class="text-center">
                            <a class="btn btn-success text-center contratar-btn fw-bold border-dark border-1"
                               href="@Url.Action("Index", "Contrato", new { tarifaId = item.Id })">Contratar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
