@model List<Gimnasio.Models.Actividad>
@{
    ViewData["Title"] = "Actividades";
}
<script src="~/js/DataTableJS.js"></script>

<h2 class="text-center my-3">Listado de actividades</h2>
<div class="row justify-content-center mb-3">
    <div class="col-md-8">
        <table class="table table-striped" id="formatDataTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Duración(min)</th>
                    <th>Apuntarse</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Descripcion)</td>
                        @{var fecha = DateOnly.FromDateTime(item.FechaHora);}
                        <td>@fecha</td>
                        @{var hora = TimeOnly.FromDateTime(item.FechaHora);}
                        <td>@hora</td>
                        @{var tiempo = item.Duracion.Hour * 60 + item.Duracion.Minute;}
                        <td class="text-center">@tiempo</td>
                        <td class="text-center"><a class="btn btn-primary"
                               href="@Url.Action("Index", "Contrato", new { tarifaId = item.Id })"><i class="bi bi-person-fill-add fs-4"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>