@model List<Gimnasio.Transporte.CarritoDTO>
@using Gimnasio.Transporte
@{
    ViewData["Title"] = "Mi carrito";

}

<h1 class="text-center my-3">Mi carrito</h1>

<div class="my-3 p-3">
    <p>¡Bienvenido a tu carrito de la compra! Aquí encontrarás todos los productos que has seleccionado para comprar en nuestra tienda en línea. Revisa los artículos en tu carrito y asegúrate de que todo esté en orden antes de proceder al pago.</p>
    <p>En esta página, puedes actualizar las cantidades y eliminar productos de la cesta. Una vez que estés listo, guarda los cambios y continúa hacia la página de pago para completar tu compra de manera segura y rápida.</p>
    <p>Si necesitas ayuda o tienes alguna pregunta sobre tu pedido, no dudes en ponerte en contacto con nuestro equipo de atención al cliente. Estamos aquí para garantizar una experiencia de compra sin complicaciones y satisfactoria para ti.</p>
    <p>¡Gracias por elegirnos y disfruta tu experiencia de compra en nuestro sitio!</p>
</div>
@functions {
    void RenderAlert(string message, string alertType)
    {
        if (!string.IsNullOrEmpty(message))
        {
            <div class="row justify-content-center">
                <div class="alert alert-@alertType alert-dismissible fade show col-md-7 text-center">
                    <button type="button" class="btn-close fs-7" data-bs-dismiss="alert"></button>
                    <strong class="fs-5">@message</strong>
                </div>
            </div>
        }
    }
}

@{
    RenderAlert(TempData["eliminarProducto"] as string, "info");
    RenderAlert(TempData["exitoGuardarCambios"] as string, "success");
    RenderAlert(TempData["errorGuardarCambios"] as string, "danger");
    RenderAlert(TempData["agregadoCorrectamente"] as string, "success");
    RenderAlert(TempData["malAgregado"] as string, "danger");
}

@if (Model.Count == 0)
{
    <div class="border border-2 p-4 bg-white border-dark">
        <p>Todavía no tienes productos en el carrito.</p>
        <a asp-controller="Producto" asp-action="Index">Visita nuestra selección de productos.</a>
    </div>
}
else
{
    <div class="border border-2 border-dark p-4 bg-white mb-4 shadow-lg">
        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary" asp-controller="Producto" asp-action="Index">Seguir comprando</a>
            <a href="#" class="btn btn-success fw-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop">REALIZAR PEDIDO</a>
        </div>
        <hr />
        <div class="row justify-content-center">
            @foreach (CarritoDTO item in Model)
            {
                <div class="col-lg-6 col-8 my-3">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center">
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item._producto.Foto)" alt="@item._producto.Nombre" class="img-fluid rounded-start" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@item._producto.Nombre</h5>
                                    <p class="card-text lh-1 text-muted"><small><span class="precioProducto">@item._producto.Precio.ToString("0.00")</span> € / unidad</small></p>
                                    <p class="card-text lh-1">
                                        <input type="hidden" value="@item._producto.Precio" />
                                        <div class="input-group">
                                            <span class="input-group-text">Cantidad</span>
                                            <input type="number" min="0" class="form-control iCantidad" value="@item.Cantidad" />
                                        </div>
                                    </p>
                                    @{
                                        double total = item.Cantidad * item._producto.Precio;
                                    }
                                    <p class="card-text lh-1 precioTotalProducto">Precio total: @total</p>
                                    <a href="#" class="btn btn-outline-danger eliminar-carrito" data-carrito-id="@item.Id">
                                        <strong><i class="bi bi-trash3-fill mr-1"></i>Eliminar</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />
        <h3 class="my-4">Precio total: <span id="precioTotalCarrito"></span></h3>
        <a class="btn btn-primary" id="GuardarCambios" href="#">Guardar cambios</a>
    </div>
}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Realizar pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center m-2">
                    <div class="alert alert-warning fade show text-center mx-3">
                        <strong class="fs-6 p-2">Antes de realizar el pedido, comprueba que hayas guardado los cambios. De lo contrario, el pedido se procesará con los últimos cambios almacenados.</strong>
                    </div>
                </div>
                <p>Selecciona un método de pago:</p>
                <select class="form-select" id="metodoPago">
                    <option value="" selected disabled>Selecciona una opción...</option>
                    <option value="EFECTIVO">Efectivo</option>
                    <option value="TARJETA">Tarjeta</option>
                    <option value="TRANSFERENCIA">Transferencia</option>
                </select>
                <span class="text-danger fs-6" id="errorSelect"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary text-white btn-realizar-pedido" data-bs-dismiss="modal">Realizar mi pedido</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/Carrito.js"></script>
}
