@model List<Gimnasio.Models.Pedido>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mis pedidos";
}

@if (TempData["pedidoCompletado"] != null)
{
    <div class="row justify-content-center">
        <div class="alert alert-success alert-dismissible fade show col-md-7 text-center">
            <button type="button" class="btn-close fs-7" data-bs-dismiss="alert"></button>
            <strong class="fs-5">@TempData["pedidoCompletado"]</strong>
        </div>
    </div>
}

<h1 class="text-center my-3">Pedidos</h1>


@if (Model.Count < 1)
{
    <div class="border border-2 p-4 bg-white">
        <p>Todavía no has realizado ningún pedido.</p>
        <a asp-controller="Producto" asp-action="Index">Visita nuestra selección de productos.</a>
    </div>
}
else
{
    <div class="row justify-content-center">
    <div class="col-xl-7 col-md-8">
    <table class="table table-striped" id="formatDataTable" style="width: 100%;">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Nº productos</th>
                <th>Precio total</th>
                <th data-dt-order="disable"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Pedido item in Model)
            {
                <tr>
                    <td>@DateOnly.FromDateTime(item.Fecha)</td>
                    <td>@item.DetallesPedido.Count</td>
                    <td>@item.PrecioTotal.ToString("0.00")</td>
                    <td><a class="btn btn-info" asp-controller="Pedido" asp-action="Detalles" asp-route-IdPedido="@item.Id"><i class="bi bi-eye-fill fs-6"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
        </div>
    </div>
}
<script src="~/js/DataTableJS.js"></script>