@model Gimnasio.Models.Usuario
@{
    ViewData["Title"] = "Datos personales";
}

<h2 class="text-center my-3">Datos personales</h2>
<div class="row justify-content-md-center">
    <div class="col-md-10">
        <div class="row">
            <div class="col-5 align-content-center text-center">
                @if (Model.Foto == null)
                {
                    <img style="max-width:80%; max-height:80%" class="m-3" src="~/images/no-foto.jpg" />
                }
                else
                {
                    <img style="max-width:80%; max-height:80%" class="img-fluid" src="data: image/jpeg;base64, @Convert.ToBase64String(Model.Foto)" alt="Foto de perfil" />
                }
            </div>
            <div class="col-md-7 align-content-center">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Apellidos)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Apellidos)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DNI)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.DNI)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FechaNacimiento)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.FechaNacimiento)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Direccion)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Direccion)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Poblacion)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Poblacion)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>