@model Gimnasio.Models.Usuario
@{
    ViewData["Title"] = "Eliminar cuenta";
}
<h2 class="text-center my-3">Eliminar cuenta</h2>
<div class="row justify-content-center m-3">
    <div class="col-sm-8 col-md-7 col-xl-5 my-2 border border-3 border-dark rounded-2 p-4 bg-white shadow">
        <dl class="row align-items-center">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DNI)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DNI)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Apellidos)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Direccion)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Poblacion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Poblacion)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        <h5 class="text-center my-3">Estás seguro de eliminar la cuenta?</h5>
        <form class="text-center" asp-action="EliminarUsuario">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </form>
    </div>
</div>
