@model IEnumerable<Gimnasio.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuarios";
}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="~/images/no-foto.jpg" class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Hello, world! This is a toast message.
    </div>
</div>
<h1 class="my-3 text-center">Lista de Usuarios</h1>
@if (TempData["cambioRol"] != null)
{
    <div class="row justify-content-center my-2">
        <div class="alert alert-success alert-dismissible fade show col-md-7 text-center">
            <button type="button" class="btn-close fs-7" data-bs-dismiss="alert"></button>
            <strong class="fs-5">@TempData["cambioRol"]</strong>
        </div>
    </div>
}

<table class="table align-middle" id="formatDataTable">
    <thead>
        <tr>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Poblacion)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th data-dt-order="disable"></th>
            <th data-dt-order="disable"></th>
            <th data-dt-order="disable"></th>
            @if (User.IsInRole("ADMINISTRADOR"))
            {
                <th data-dt-order="disable"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Poblacion)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="align-middle">
                    @{
                        string rol = item.Rol.ToString().Substring(0, 1).ToUpper() + item.Rol.ToString().Substring(1).ToLower();
                    }
                    @rol
                </td>
                <td class="align-middle">
                    <a href="#" class="btn btn-outline-info fw-bold btn-visualizar-perfil" data-idUsuario="@item.Id"><i class="bi bi-eye-fill"></i></a>
                </td>
                <td class="align-middle">
                    <a href="#" class="btn btn-outline-primary fw-bold btn-modificar-usuario" data-idUsuario="@item.Id"><i class="bi bi-pencil-square"></i></a>
                </td>
                <td class="align-middle">
                    <a href="#" class="btn btn-outline-success fw-bold btn-comprobar-contrato" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" data-idUsuario="@item.Id"><i class="bi bi-patch-check-fill"></i></a>
                </td>
                @if (User.IsInRole("ADMINISTRADOR"))
                {
                    <td class="align-middle">
                        <a href="#" class="btn btn-outline-dark fw-bold btn-adjudicar-rol" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-idUsuario="@item.Id"><i class="bi bi-incognito"></i></a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("ADMINISTRADOR"))
{
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Asignación de rol</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Selecciona rol para el usuario:</p>
                    <select class="form-select" id="rolSeleccionado">
                        <option value="" selected disabled>Selecciona una opción...</option>
                        <option value="CLIENTE">Cliente</option>
                        <option value="TRABAJADOR">Trabajador</option>
                        <option value="ADMINISTRADOR">Administrador</option>
                    </select>
                    <span class="text-danger fs-6" id="errorSelect"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-guardar-rol" data-bs-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/ListaUsuarios.js"></script>
}
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel2">Situación contractual</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="texto-status-contrato"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/GestionUsuarios.js"></script>
<script src="~/js/DataTableJS.js"></script>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)

        });
    });
</script>